<footer>
    <div class="row g-4 d-flex justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4 text-center">
            <p><strong>EuroTravel</strong> · Madrid, Spain</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center">
            <p>✉️ info@gotravel.com </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center">
            <p>☎️ +34 600 123 456</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center">
            <p>
                <a href="#">Terms</a>|
                <a href="#">Privacy Policy</a>
            </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center">
            <div class="footer-icons">
                <a href="#" class="icon">🌍</a>
                <a href="#" class="icon">✈️</a>
                <a href="#" class="icon">🏝️</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center">
            <a href="https://github.com/CodeURJC-FW-2025-26/webapp15">link portfolio</a>
        </div>
    </div> 
    <p class="footer-text text-center">© 2025 GoTravel - All rights reserved</p>
</footer>

<script src="/script.js"></script>
</body>
</html>