body {
    padding-top: 60px;
    font-family: Verdana;
    background-color: rgb(221, 206, 92);
    text-align: justify;
    overflow-x: hidden;
}


#cabecera {

    width: 100vw;          
    max-width: 100%;
    min-height: 70vh;
    

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 60px;


    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: flex-start;
    
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 5%;
    

    text-align: left;
    color: white;
    

    position: relative;
    overflow: hidden;
    border-radius: 0;
}


#cabecera::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}


#video-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


#cabecera h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 50%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

#cabecera p {
    font-size: 1.2rem;
    max-width: 50%;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}


form[action="/"] {
    width: 90%;
    max-width: 95%;
    
    margin-left: 30px;
    margin-top: 30px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


form[action="/"] input[type="search"] {
    width: 300px;
    margin: 0;
    border-radius: 5px;
}


#b1 {
    padding: 0.4em 1.5em; 
    font-size: 1rem;       
    white-space: nowrap;
    float: none;
    

    margin: 0;
    margin-left: auto;
    

    background-color: rgb(26, 55, 27);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

#b1:hover {
    background-color: black;
    color: white;
}


form[action="/"] + div {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}


.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(42, 98, 42);
    padding: 0px 20px;
    border-bottom: 10px solid rgb(26, 55, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
}

.navbar-custom h1 {
    text-align: right;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar-custom input[type="text"] {
    height: 30px;
    border-radius: 10px;
    flex: 1 1 200px;
    max-width: 300px;
}


.list-group-item {
    background-color:  rgba(191, 179, 85, 0.83);
    border: 1px solid #dee2e6;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.list-group-item:hover {
    background-color: rgb(42, 98, 42);
    color: rgb(0, 0, 0);
    transform: scale(1.02);
}


#imagen {
    max-width: 100%;
    height: auto;
    border: 10px;
}


.row ol {
    list-style-type: none;
    padding-left: 0;
}

.row ol li {
    margin-bottom: 8px;
    border-bottom: 1px dotted #e9ecef;
    padding-bottom: 10px;
}

.row .item {
    color: #000000;
    margin-top: 15px;
}


.card-img-top {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px 10px 0 0;
}

.card-img-top:hover {
    transform: scale(1.05);
}


.btn-primary {
    background-color: rgb(232, 172, 8);
    border: 4px;
    margin-bottom: 40px;
}

.button,
.dropdown button {
    border-radius: 12px; 
    font-family: 'poppins', sans-serif;
}

.button:hover,
.dropdown button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 12px; 
}

.button2:hover {
    background-color: rgb(160, 159, 159);
    color: black;
    border-radius: 12px; 
}


form:not([action="/"]) {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.form-align {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 205, 205);
    padding: 30px;
    border-radius: 15px;
    border-color: black;
    border: 2px solid;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

form input,
form select,
form textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


footer {
    padding: 30px;
    background-color: rgb(42, 98, 42);
    color: white;
    font-family: Verdana;
}

footer [class*="col-"] {
    text-align: center;
}

footer p {
    margin: 0;
    white-space: nowrap; 
}

.footer-icons {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin-top: 15px;
    padding-top: 10px;
}

.icon {
    margin: 0 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.3) rotate(10deg);
}