body {
    padding-top: 120px;
    font-family: Verdana;
    background-color: rgb(121,157,249);
}
.navbar-custom h1 {
    text-align: right;
    color: rgb(255, 255, 255) ;
    font-weight: bold;
}
.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(104, 104, 104);
    padding: 0px 20px;
    border-bottom: 10px solid rgb(67, 66, 66);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-wrap: wrap;
}
.navbar-custom input[type="text"] {
    height: 30px;
    border-radius: 10px;
    flex: 1 1 200px;
    max-width: 300px;
}
form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}
.form-align {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 205, 205);
    padding: 30px;
    border-radius: 15px;
    border-color: black;
    border: 2px solid;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;

}
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
footer {
    
    padding: 30px;
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: Verdana;
}


footer [class*="col-"] {
    text-align: center;
}

footer p {
    margin: 0;
    white-space: nowrap; 
}


.footer-icons{
    display: flex; 
    justify-content: center;
    align-items: center;
}


.footer-text{
    margin-top: 15px;
    padding-top: 10px;
}


.icon {
    margin: 0 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.3) rotate(10deg);
}
.dropdown button{
    border-radius: 12px; 
    font-family: 'poppins', sans-serif;
}
.dropdown button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 12px; 
}
.button{
    border-radius: 12px; 
    font-family: 'poppins', sans-serif;
}
.button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 12px; 
}
form input,
form select,
form textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
